*.elc
.emacs-theme
.mc-lists.el
.thesaurus.cache
/tmp/savehist
ac-comphist.dat
auto-save-list
bookmarks
history
ido.last
/local
places
recentf
server
server/**
smex-items
tramp
url/*
var
/.persistent-scratch

.DS_Store